<!-- templates/about.html -->
    {% extends 'base.html' %}

    {% block title %}
        О Нас
    {% endblock %}

    {% block content %}
        <div class="jumbotron">
            <h1 class="display-4">О нас</h1>
            <p class="lead">Наша компания занимается производством и продажей высококачественных футляров для очков для мужчин, женщин и детей. Мы стремимся обеспечить наших клиентов лучшей продукцией, сочетая в себе стиль, удобство и прочность.</p>
            <hr class="my-4">
            <p>Каждое изделие тщательно разрабатывается и произведено с использованием лучших материалов, чтобы гарантировать долговечность и защиту ваших очков.</p>
        </div>
    {% endblock %}
