<!-- templates/home.html -->
    {% extends 'base.html' %}

    {% block title %}
        Главная страница
    {% endblock %}

    {% block content %}
    <section class="mb-5">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=3922865d3babc27d58688de9880c2b100531192f-8377138-images-thumbs&n=13" class="card-img-top" alt="Card 1">
                    <div class="card-body">
                        <h5 class="card-title">МУЖСКИЕ ФУТЛЯРЫ</h5>
                        <p class="card-text">Позвольте вашим очкам всегда быть в безопасности и в стильном окружении с нашими роскошными футлярами для мужских очков...</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=253db9454be6196a426a8c1810e25212dccfde352b742d14-9827576-images-thumbs&n=13" class="card-img-top" alt="Card 2">
                    <div class="card-body">
                        <h5 class="card-title">ЖЕНСКИЕ ФУТЛЯРЫ</h5>
                        <p class="card-text">Представляем вам изысканные футляры для женских очков, созданные специально для тех, кто ценит стиль и заботу о своих аксессуарах...</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://avatars.mds.yandex.net/i?id=bfc227c8af84e568f224d30b6c8fa571ae60a817-12439438-images-thumbs&n=13" class="card-img-top" alt="Card 3">
                    <div class="card-body">
                        <h5 class="card-title">ДЕТСКИЕ ФУТЛЯРЫ</h5>
                        <p class="card-text">Позаботьтесь о безопасности и стиле ваших малышей с нашими красочными и прочными футлярами для детских очков...</p><a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}